<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faizanali.allinone" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.Camera" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".Welcome" />
        <activity android:name=".Mediaplayer" />
        <activity android:name=".Flash" />
        <activity android:name=".Calculator" />
        <activity android:name=".Calcoption" />
        <activity android:name=".Scical" />
        <activity android:name=".Cam" />
        <activity android:name=".Vid" />
        <activity android:name=".Cameraoption" />
        <activity android:name=".Special" />
        <activity android:name=".Magical" />
        <activity android:name=".Quiz1" />
        <activity android:name=".Result" />
        <activity android:name=".Quiz2" />
        <activity android:name=".Quz3" >
        </activity>
    </application>

</manifest>